#contact-us-form {
  text-align: center;
  border: 1px solid black;
  padding: 30px;
}

.contact-us-para {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 20px auto;
}

#contact-us-form label {
  font-size: 24px;
}

#contact-us-form input, select {
  height: 30px;
}

#contact-us-form select {
  text-align: center;
}

#teacher-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container.email.contact-us,
.input-container.info.contact-us {
  grid-column: 1/-1;
}

.input-container.email.contact-us {
  margin-bottom: 20px;
}

.input-container.info.contact-us textarea {
  height: 200px;
}
