table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: var(--color-primary-base);
  color: #ffffff;
  text-align: left;
}

th,
td {
    padding: 12px 30px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f7f7f7;
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-primary-base);
}

tbody tr:hover {
  font-weight: bold;
  color: var(--color-primary-base);
  cursor: pointer;
}