.btn-admin {
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid var(--color-primary-light);
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
	transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
	padding: 0 1em 0 1em;
	margin: 1em;
}

.btn-admin:hover,
.btn-admin:focus {
	background-color: var(--color-primary-light);
	color: #000000;
}

.btn-admin.primary {
	background-color: var(--color-primary-light);
	color: #ffffff;
}

.btn-admin.primary:hover,
.btn-admin.primary:focus {
	background-color: var(--color-primary-base);
	color: #ffffff;
}

.btn-admin.delete {
	background-color: #ef6c6c;
	color: #ffffff;
}

.btn-admin.delete:hover,
.btn-admin.delete:focus {
	background-color: #af1212;
	color: #ffffff;
}

.large {
	font-size: 20px;
}
